<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ asd }}</title>
      <link rel="stylesheet" href="static/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <button type="button" class="btn btn-danger" class="nav-link active" href="#">Check Out</button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>

  <div class="row">
  <div class="column">

    <div>
      <img src="static/img/img2.jpg">
      <h4>{{ post[0]["name"] }}</h4>
      <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
    </div>


    <img src="static/img/img3.jpg">
    <h4>{{ post[11]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>

    <img src="static/img/img4.jpg">
    <h4>{{ post[0]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>

    <img src="static/img/img5.jpg">
    <h4>{{ post[1]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart</button>

    <img src="static/img/img6.jpg">
    <h4>{{ post[2]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>

    <img src="static/img/img7.jpg">
    <h4>{{ post[3]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
    <img src="static/img/img8.jpg">
    <h4>{{ post[4]["name"] }}</h4>
    <button type="button" class="btn btn-success" onclick="alert('Hello world!')">Add to Cart!</button>
  </div>
  <div class="column">
    <img src="static/img/img9.jpg">
    <h4>{{ post[5]["name"] }}</h4>
    <form action="cart" method="post">
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')" name="{{ post[5]["name"] }}">Add to Cart!</button>
    </form>
    <img src="static/img/img10.jpg">
    <h4>{{ post[6]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart</button>
    <img src="static/img/img11.jpg">
    <h4>{{ post[7]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
    <img src="static/img/img12.jpg">
    <h4>{{ post[8]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
    <img src="static/img/img13.jpg">
    <h4>{{ post[9]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
    <img src="static/img/img14.jpg">
    <h4>{{ post[10]["name"] }}</h4>
    <button type="button" class="btn btn-success"  onclick="alert('Hello world!')">Add to Cart!</button>
  </div>

  </div>

</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>

</body>
</html>
<!--{% for i in post %}-->
<!--<div class="row">-->
<!--  <div class="col-sm-6 col-md-4">-->
<!--    <div class="thumbnail">-->
<!--      <img src="..." alt="...">-->
<!--      <div class="caption">-->
<!--        <h3>Thumbnail label</h3>-->
<!--        <p>...</p>-->
<!--        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->