<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
<style>
#grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#grid > div {
  background-color: gray;
  color: white;
  font-size: 4vw;
  padding: 10px;
}
</style>
<div id="grid">
  <div>{{ post[0]["name"] }}</div>
  <div>{{ post[1]["name"] }}</div>
  <div>{{ post[2]["name"] }}</div>
  <div>{{ post[3]["name"] }}</div>
  <div>{{ post[4]["name"] }}</div>
  <div>{{ post[5]["name"] }}</div>
  <div>{{ post[6]["name"] }}</div>
  <div>{{ post[7]["name"] }}</div>
  <div>{{ post[8]["name"] }}</div>
  <div>{{ post[9]["name"] }}</div>
  <div>{{ post[10]["name"] }}</div>
  <div>{{ post[11]["name"] }}</div>
  <div>{{ post[12]["name"] }}</div>
  <div>{{ post[13]["name"] }}</div>
  <div>{{ post[14]["name"] }}</div>

</div>

</head>
<body>

</body>
</html>